{% extends 'base.html' %}

{% block title %} {{super()}}Login {% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form method="POST" action="{{url_for('login')}}">
        {% if error %}
        <div class=" text-danger">
          {{error}}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>




{% endblock %}