{%extends "base.html" %}

{% block title%} {{super()}}  Unanswered {% endblock %}


{% block content %}

<div class="container">
  <h1>Unanswered Questions</h1>
  <div class="my-4">
    <ol class="list-group list-group-numbered">
      {%for quest in questions %}
      <a href="{{url_for('answer',question_id=[quest['id']])}}">
      <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{quest.question_text}}</div>
          Asked by: {{quest.username}}
        <span class="badge bg-primary rounded-pill"></span>
      </li>
    </a>
      {% endfor %}
    </ol>
    
  </div>
</div>

{% endblock %}